---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import ContactContent from "../components/pages/ContactContent";
---

<Layout title="Contact" description="Me contacter">
  <Navbar client:load />

  <main>
    <ContactContent client:load />
  </main>

  <Footer client:load />
</Layout>