---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import ProjectsContent from "../components/pages/ProjectsContent";
---

<Layout title="Projets" description="Mes projets réalisés">
  <Navbar client:load />

  <main>
    <ProjectsContent client:load />
  </main>

  <Footer client:load />
</Layout>